/* MENÚ DE CATEGORÍAS DEL NAVBAR */
.mega-menu-modal {
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  width: 350px;
  padding: 18px 20px;
  border-radius: 6px;
  box-shadow: 0 3px 18px rgba(190, 130, 130, 0.15);
  z-index: 100;
}

.mega-menu-modal h3 {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.mega-menu-modal .columnas-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.mega-menu-modal .categoria-modal{
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 3px;
  text-transform: capitalize;
}

.mega-menu-modal .categoria-modal:hover {
  color: black;
}


/* Grid de libros */
/* Grid de libros: más columnas, más compacto */
.grid-libros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 33px;
  margin-top: 30px;
}

/* Cards: más estrechos y compactos */
.libro-card {
  text-decoration: none;    /* quita la línea */
  color: inherit;           /* usa el color normal del texto */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.libro-card:hover {
  transform: translateY(-4px);
}

.libro-card h2,
.libro-card p {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

/* Imagen más pequeña y delgada */
.libro-card img {
  border: none;
}

/* Info más compacta */
.info-libro h2 {
  font-size: 0.95rem;
  margin: 6px 0 4px;
  color: #222;
}

.info-libro p {
  font-size: 0.75rem;
  color: #666;
}

/* Responsive */
@media (max-width: 600px) {
  .grid-libros {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 15px;
  }

  .libro-card img {
    height: 160px;
  }
}

.btn-leer {
  background: #111;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin-right: 12px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.btn-accion:hover {
  opacity: 0.8;
}

.btn-lista {

  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-icono:hover {
  opacity: 0.8;
}

.btn-icono svg {
  pointer-events: none;
}
