body {
  background: linear-gradient(180deg, #ffe7db, #fff);
  margin: 0;
  padding: 0;
}

.inicio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
  background: transparent; /* o simplemente quítalo */
}


.inicio-texto {
  max-width: 520px; 
}

.inicio-texto h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: black;
}

.descripcion {
  font-size: 18px;
  margin: 20px 0 30px;
  color: #333;
}

.btn-comenzar {
  background: #000;
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-comenzar:hover {
  opacity: 0.85;
}

.texto-sec {
  margin-top: 15px;
  font-size: 15px;
  color: #444;
}

.texto-sec span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.inicio-imagen img {
  width: 480px;
  border-radius: 20px;
}


/* MINI CARRUSEL */
.mini-carrusel-container {
  margin-top: 80px;
  text-align: center;
}

.mini-carrusel-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mini-carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.mini-carrusel-items {
  display: flex;
  gap: 15px;
}

.mini-carrusel-items img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s;
}

.mini-carrusel-items img:hover {
  transform: scale(1.05);
}

.carrusel-btn {
  background: #f5f5f5;
  border: none;
  font-size: 28px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.carrusel-btn:hover {
  background: #e0e0e0;
}

/* FOOTER */
.footer {
  margin-top: 80px;
  padding: 40px 0;
  background: #111;
  color: #ccc;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}

.footer-links a {
  cursor: pointer;
  font-size: 14px;
}

.footer-copy {
  font-size: 13px;
  opacity: 0.7;
}


.footer-redes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
}

.footer-redes a {
  color: #ccc;
  font-size: 15px;
  transition: color 0.2s;
  cursor: pointer;
}

.footer-redes a:hover {
  color: white;
}



.inicio-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja-mensaje {
  width: 260px;
  background: #fff;
  padding: 18px 22px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  position: relative;
  color: #333;
}

.comilla {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 40px;
  color: #ff7f50;
  opacity: 0.4;
  font-family: serif;
}


